[Unit]
Description=Rockpi SATA service for reading the button and changing screens on the top board

[Service]
Type=simple
ExecStart=/opt/rockpi-sata/rockpi-sata-service.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
