Source: rockpi-sata
Section: devel
Priority: optional
Maintainer: Daniel Karmark <daniel.karmark@gmail.com>
Build-Depends: build-essential, debhelper (>= 10), device-tree-compiler

Package: rockpi-sata
Architecture: armhf
Depends: ${misc:Depends}, python3, python3-humanize, python3-netifaces, dkms, linux-headers, build-essential
Homepage: https://github.com/nolltre/rockpi_sata
Description: Dan's Rockpi SATA support package
 This package adds a service for the Rockpi Quad SATA
 for Raspberry Pi 4. It also installs a kernel module
 and overlays to control the fan, key and OLED display
 for the top board.
